* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
li {
    list-style: none;
}
button {
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.1);
    }
}
input {
   border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid #ccc;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.1);
    }
}
textarea {
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid #ccc;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.1);
    }
}
body {
    font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "Arial",
        sans-serif;
    background-color: #f0f2f5;
}
